<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Containers</title>
    <link rel="stylesheet" href="/static/docker.css">
</head>

<body>

    <h1>PIX Containers</h1>

    <div class="container-wrapper">
        <div class="container">
            <div class="sidebar">
                {{range .links}}
                <a href="{{.href}}" class="{{.class}}">{{.text}}</a>
                {{end}}
            </div>
        </div>

        <div class="content" id="content">
            <input type="text" id="hostFilter" oninput="filterContainers()" placeholder="Filter by Host" value="">
            <input type="text" id="nameFilter" oninput="filterContainers()" placeholder="Filter by Name" value="">
            <div id="containerList">
                <table>
                    <thead>
                        <tr>
                            <th>Host</th>
                            <th>Container ID</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Command</th>
                            <th>Created</th>
                            <th>Status</th>
                            <th>Logs</th>
                        </tr>
                    </thead>
                    <tbody id="containerDataBody"></tbody>
                </table>
            </div>
        </div>
    </div>

    <script>


        let ws;
        let newWindow;

        function connectWebSocket(exthost, path) {

            fetch("api/v1/getjwt")
                .then(response => response.json())
                .then(data => {
                    const jwtToken = data.token.Value;
                    // 這裡你可以對 JWT token 做你需要的處理，例如將其存儲在本地存儲或者使用它來向後端進行授權等操作
                    console.log("JWT Token:", jwtToken);
                    alert("JWT Token:", jwtToken);
                    alert("擷取" + path + "日誌")
                    if (ws && ws.readyState === WebSocket.OPEN) {
                        alert("WebSocket is already connected.");
                        return;
                    }
                    ws = new WebSocket("ws://" + exthost + ":8080/ws" + "?container_name=" + encodeURIComponent(path) + "&jwt=" + encodeURIComponent(jwtToken));

                    ws.onopen = function () {
                        console.log("WebSocket connected.");
                    };

                    ws.onmessage = function (event) {
                        if (!newWindow || newWindow.closed) {
                            newWindow = window.open("", "LogWindow", "width=600,height=400");
                            newWindow.document.title = path;
                            if (!newWindow) {
                                alert("Pop-up blocked! Please enable pop-ups for this site.");
                                return;
                            }
                            newWindow.addEventListener('beforeunload', function () {
                                if (ws && ws.readyState === WebSocket.OPEN) {
                                    ws.close();
                                }
                            });
                        }

                        const logs = newWindow.document.createElement("pre");
                        logs.textContent += event.data; // Use += to append new log data
                        logs.scrollTop = logs.scrollHeight;
                        newWindow.document.body.appendChild(logs);
                        newWindow.scrollTo(0, newWindow.document.body.scrollHeight);
                    };

                    ws.onclose = function () {
                        console.log("WebSocket closed.");
                        if (newWindow && !newWindow.closed) {
                            newWindow.close();
                        }
                    };

                    ws.onerror = function () {
                        console.error("WebSocket error occurred.");
                        if (newWindow && !newWindow.closed) {
                            newWindow.close();
                        }
                    };
                })
                .catch(error => {
                    console.error("Error fetching data:", error);
                });

        }




        // 定义函数用于获取和显示容器数据
        function fetchAndDisplayContainers() {
            fetch("/api/v1/cluster_docker")
                .then(response => response.json())
                .then(data => displayContainers(data))
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
        }

        // 显示容器数据
        function displayContainers(containers) {
            const containerDataBody = document.getElementById('containerDataBody');
            containerDataBody.innerHTML = '';

            if (containers.length === 0) {
                containerDataBody.innerHTML = '<tr><td colspan="5">No containers found.</td></tr>';
            } else {
                containers.forEach(container => {
                    containerDataBody.innerHTML += `
                        <tr>
                            <td>${container.HOST}</td>
                            <td>${container["CONTAINER ID"]}</td>
                            <td>${container.NAMES}</td>
                            <td>${container.IMAGE}</td>
                            <td>${container.COMMAND}</td>
                            <td>${container.CREATED}</td>
                            <td class="${container.STATUS.includes('Up') ? 'upStatus' : 'downStatus'}">${container.STATUS}</td>
                            <td><button onclick="connectWebSocket('${container.ExtEndPoint}','${container.NAMES}')">系統日誌</button></td>
                        </tr>
                    `;
                });
            }

            // 恢复过滤状态
            filterContainers();
        }

        // 初次加载数据
        fetchAndDisplayContainers();

        // 每15秒自动更新一次数据
        setInterval(fetchAndDisplayContainers, 5000);

        // 添加过滤功能
        function filterContainers() {
            const hostFilter = document.getElementById('hostFilter');
            const nameFilter = document.getElementById('nameFilter');

            const hostFilterValue = hostFilter.value.toLowerCase();
            const nameFilterValue = nameFilter.value.toLowerCase();

            const rows = document.querySelectorAll('#containerDataBody tr');

            rows.forEach(row => {
                const hostCell = row.querySelector('td:nth-child(1)');
                const nameCell = row.querySelector('td:nth-child(3)');

                const hostText = hostCell.textContent.toLowerCase();
                const nameText = nameCell.textContent.toLowerCase();

                const hostMatch = hostText.includes(hostFilterValue) || hostFilterValue === '';
                const nameMatch = nameText.includes(nameFilterValue) || nameFilterValue === '';

                if (hostMatch && nameMatch) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });

            // 保存过滤状态到本地存储
            localStorage.setItem('hostFilter', hostFilterValue);
            localStorage.setItem('nameFilter', nameFilterValue);
        }

        // 恢复过滤状态
        const storedHostFilter = localStorage.getItem('hostFilter');
        if (storedHostFilter) {
            document.getElementById('hostFilter').value = storedHostFilter;
        }

        const storedNameFilter = localStorage.getItem('nameFilter');
        if (storedNameFilter) {
            document.getElementById('nameFilter').value = storedNameFilter;
        }
    </script>

</body>

</html>