<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Docker Containers</title>
  <link rel="stylesheet" href="/static/service.css">
  <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

</head>

<body>

  <h1>PIX Containers</h1>

  <div class="container-wrapper">
    <div class="container">
      <div class="sidebar">
        {{range .links}}
        <a href="{{.href}}" class="{{.class}}">{{.text}}</a>
        {{end}}
      </div>
    </div>
    <div class="content" id="content">

      <label for="date-range">選擇日期範圍：</label>
      <input type="text" id="date-range" placeholder="Select Date Range">

      <label for="selectLog">選擇 Log 類型：</label>
      <select id="selectLog">
        <option>IM</option>
        <option>SIP</option>
        <option>DB</option>
        <option>STUNE</option>
        <option>PIX</option>
      </select>

      <button type="button" class="btn btn-success" id="downloadBtn">下載系統Log</button>
      <button type="button" class="btn btn-primary" id="uploadBtn">回傳系統Log</button>
    </div>

  </div>

  <script type="text/javascript">
    var uploadBtn = document.getElementById('uploadBtn');

    // 添加點擊事件監聽器
    uploadBtn.addEventListener('click', function () {
      // 在這裡執行您的功能
      // 例如，呼叫一個名為 uploadLog 的函數
      uploadLog();
    });

    var downloadBtn = document.getElementById('downloadBtn');

    // 添加點擊事件監聽器
    downloadBtn.addEventListener('click', function () {
      if (!checkDateRange()) {
        downloadLog();
      }
    });

    // 模擬上傳 Log 的函數
    function uploadLog() {

      var serviceName = document.getElementById("selectLog").value;
      var dateRangeString = document.getElementById("date-range").value;
      var dates = dateRangeString.split(" - ");
      var startDate = dates[0];
      var endDate = dates[1];



      fetch("/api/v1/uploadToStune", {
        method: 'POST', // 將請求方法改為POST
        headers: {
          'Content-Type': 'application/json', // 指定請求頭為JSON格式
          // 在這裡可以添加其他請求頭信息
        },
        // 如果需要發送數據，可以在這裡添加請求體
        body: JSON.stringify({ startTime: startDate, endTime: endDate, service: serviceName })
      })
        .then(response => response.json())
        .then(data => {
          if (data.error) {
            alert(data.error)
          } else {
            alert(data.message)
            var messageValue = data.message;
            loadingSpinner = document.getElementById("loadingSpinner");
            loadingSpinner.style.display = "none";
          }
        })
        .catch(error => {
          //alert(error)
          // 將錯誤消息輸出到 outputResult 段落元素
          //document.getElementById("outputResult").textContent = "發生錯誤：" + error;
        });

      // 在這裡執行您想要的上傳 Log 的操作
    }

    function downloadLog() {
      // 取得 Service Name
      var counter = 0
      var serviceName = document.getElementById("selectLog").value;
      var dateRangeString = document.getElementById("date-range").value;
      var dates = dateRangeString.split(" - ");
      var startDate = dates[0];
      var endDate = dates[1];

      const downloadUrl = "/api/v1/clusterDownloadFromStune?service=" + serviceName + "&startTime=" + startDate + "&endTime=" + endDate + "&time=" + counter;

      fetch(downloadUrl)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          const contentType = response.headers.get('Content-Type');
          console.log('Content-Type:', contentType);

          return response.blob();
        })
        .then(blob => {
          // 創建一個超連結元素
          const link = document.createElement('a');
          // 創建一個Blob URL，定將其分配給鏈結的href屬性
          link.href = window.URL.createObjectURL(blob);
          // 設置鏈結的下載屬性,指定下載的名稱
          link.download = serviceName + "_" + startDate + "_" + endDate + ".zip"; // 使用实际文件的正确扩展名
          // 將超連結加入到文檔中
          document.body.appendChild(link);
          // 模擬用戶點擊下載
          link.click();
          // 刪除鏈結元素
          document.body.removeChild(link);

          var loadingSpinner = document.getElementById('loadingSpinner');
          loadingSpinner.style.display = 'none';
        })
        .catch(error => {
          console.error('Fetch error:', error);
        });
    }
  </script>

  <script>
    // Initialize datepicker
    let picker = null; // 將 picker 變量設置為全局以在後續的操作中訪問

    const dateRangeInput = document.getElementById('date-range');

    // Set date format
    const dateFormat = 'YYYY/MM/DD';

    // 初始化 datepicker
    function initDatePicker() {
      picker = new Litepicker({
        element: dateRangeInput,
        format: dateFormat,
        singleMode: false,
        allowRepick: true,
        numberOfColumns: 2,
        numberOfMonths: 1,
        maxDate: moment().add(7, 'days'),
        onSelect: function (start, end) {
          const diffTime = Math.abs(end.getTime() - start.getTime());
          const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
          if (diffDays > 7) {
            // 如果選擇的日期範圍大於7天，則將結束日期設置為開始日期後的7天
            end.setDate(start.getDate() + 7);
            picker.setDateRange(start, end); // 更新日期範圍
          }
          dateRangeInput.value = start.format(dateFormat) + ' - ' + end.format(dateFormat);
          showDateRange(); // 在選擇後顯示日期範圍
        }
      });
    }

    dateRangeInput.addEventListener('focus', function () {
      // 清除先前的選擇
      if (picker !== null) {
        picker.destroy(); // 刪除之前的 Litepicker 實例
      }
      dateRangeInput.value = ''; // 清空日期範圍輸入框
      initDatePicker(); // 初始化新的 Litepicker 實例
      picker.show(); // 顯示新的 datepicker
    });

    // 初始化 datepicker
    initDatePicker();

    // 在時間選擇器選擇完畢後顯示所選日期範圍
    function showDateRange() {
      const dateRangeInput = document.getElementById('date-range');
      alert(dateRangeInput.value);
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/litepicker.js"></script>

  <script>
    function checkDateRange() {
      const dateRangeInput = document.getElementById('date-range');
      const dateRange = dateRangeInput.value.split(' - ');
      const startDate = moment(dateRange[0], 'YYYY/MM/DD');
      const endDate = moment(dateRange[1], 'YYYY/MM/DD');
      const diffDays = endDate.diff(startDate, 'days');

      if (diffDays > 7) {
        alert('日期範圍超過七天，請重新選擇。');
        return true; // 返回 true 表示超过七天
      }
      return false; // 返回 false 表示未超过七天
    }
  </script>

</body>

</html>
