<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Docker Containers</title>
  <link rel="stylesheet" href="/static/index.css">
  <style>
    #loadingSpinner {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 50%;
      top: 50%;
      width: 100px;
      height: 100px;
      margin: -50px 0 0 -50px;
      border: 10px solid #f3f3f3;
      border-radius: 50%;
      border-top: 10px solid #3498db;
      width: 50px;
      height: 50px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }

      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body>

  <h1>PIX Containers</h1>

  <div class="container-wrapper">
    <div class="container">
      <div class="sidebar">
        {{range .links}}
        <a href="{{.href}}" class="{{.class}}">{{.text}}</a>
        {{end}}
      </div>
    </div>

    <div class="content" id="content">




      <div class="content" id="content">

        <h2>請選擇要上傳的文件</h2>
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" name="fileToUpload" id="fileToUpload">
          <br><br>
          <input type="submit" value="上傳更新文件" name="submit">
        </form>
        <div id="loadingSpinner"></div>


        <div id="containerList">
          <table>
            <thead>
              <tr>
                <th>上傳時間</th>
                <th>版本號</th>
                <th>使用狀態</th>
                <th>說明</th>
                <th>選取更新</th>
              </tr>
            </thead>
            <tbody id="containerDataBody"></tbody>
          </table>
        </div>
        <div id="outputResult"></div>
      </div>



    </div>


  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {

      // 上傳檔案
      var form = document.getElementById("uploadForm");
      form.addEventListener("submit", function (event) {
        event.preventDefault(); // 阻止表單預設的提交行為

        // 使用 FormData 構建表單數據
        var formData = new FormData(form);

        var loadingSpinner = document.getElementById('loadingSpinner');
        loadingSpinner.style.display = 'block';
        // 發送 AJAX 請求
        fetch("api/v1/ClusterUploadPatch", {
          method: "POST",
          body: formData
        })
          .then(response => response.json()) // 解析 JSON 格式的回傳訊息
          .then(data => {
            // 顯示回傳訊息
            alert(data.message);
            loadingSpinner.style.display = 'none'; // 隱藏等待動畫
            getPatchlist()
          })
          .catch(error => {
            // 處理錯誤
            console.error("發生錯誤:", error);
            loadingSpinner.style.display = 'none'; // 隱藏等待動畫
          });
      });
    });

    getPatchlist()
    function getPatchlist() {

      var tableBody = document.getElementById('containerDataBody');

      while (tableBody.firstChild) {
        tableBody.removeChild(tableBody.firstChild);
      }
      var loadingSpinner = document.getElementById('loadingSpinner');

      // 發送 AJAX 請求取得更新列表
      fetch("/api/v1/GetPatchlist")
        .then(response => response.json())
        .then(data => {
          // 將JSON數據填入表格
          data.forEach(patch => {
            var row = document.createElement("tr");


            var DeploymentStatus=""
            if (patch.pixConsoleUsed){
              DeploymentStatus="使用中"
              rowColor = "#00ff00"; // 亮綠色
            }else{
              rowColor = "white"; // 亮綠色
            }

            if (patch.pixConsoleSelect){
              DeploymentStatus="待更新"
              rowColor = "yellow"; // 亮綠色
            }



            row.style.backgroundColor = rowColor;
            row.innerHTML = `
                            <td>${patch.updatetime}</td>
                            <td>${patch.rpmVersion}</td>
                            <td>${DeploymentStatus}</td>
                            <td>修正系統檔案</td>
                            <td><button onclick="SelectPatch('${patch.rpmVersion}')">選取更新</button></td>
                        `;
            tableBody.appendChild(row);
          });
          loadingSpinner.style.display = 'none'; // 隱藏等待動畫
        })
        .catch(error => {
          console.error("發生錯誤:", error);
          loadingSpinner.style.display = 'none'; // 隱藏等待動畫
        });

    }


    function SelectPatch(RPMVersion) {
            fetch("/api/v1/clusterSetPatchlist", {
                method: 'POST', // 將請求方法改為POST
                headers: {
                    'Content-Type': 'application/json', // 指定請求頭為JSON格式
                    // 在這裡可以添加其他請求頭信息
                },
                // 如果需要發送數據，可以在這裡添加請求體
                body: JSON.stringify({ "RPMVersion": RPMVersion,"pixConsoleSelect":true,"pixComposeSelect":true })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // 將錯誤消息輸出到 outputResult 段落元素
                        document.getElementById("outputResult").textContent = "出現錯誤：" + data.error;
                    } else {
                        // 將結果輸出到 outputResult 段落元素
                        document.getElementById("outputResult").textContent = JSON.stringify(data, null, 2);
                        location.reload();
                    }
                })
                .catch(error => {
                    // 將錯誤消息輸出到 outputResult 段落元素
                    //document.getElementById("outputResult").textContent = "發生錯誤：" + error;
                });

            //window.location.reload();
        }




  </script>

</body>

</html>