<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docker Containers</title>
    <link rel="stylesheet" href="/static/service.css">
</head>

<body>

    <h1>PIX Containers</h1>

    <div class="container-wrapper">
        <div class="container">
            <div class="sidebar">
                {{range .links}}
                <a href="{{.href}}" class="{{.class}}">{{.text}}</a>
                {{end}}
            </div>
        </div>
        <div class="content" id="content">
            <input type="text" id="hostFilter" oninput="filterContainers()" placeholder="Filter by Host" value="">
            <input type="text" id="nameFilter" oninput="filterContainers()" placeholder="Filter by Name" value="">
            <button id="UpdateServer">系統更新</button>
            <button id="UpdateDocker">服務更新</button>
            <div id="containerList">
                <table>
                    <thead>
                        <tr>
                            <th>Host</th>
                            <th>Version</th>
                            <th>Name</th>
                            <th>ActiveState</th>
                            <th>Servie Status</th>
                        </tr>
                    </thead>
                    <tbody id="containerDataBody"></tbody>
                </table>
            </div>
            <div id="outputResult"></div>
        </div>
        
    </div>
    <script>


        document.getElementById("UpdateServer").addEventListener("click", function () {
            // 發起POST請求以獲取內存信息
            alert("系統開始更新,登出中")
            window.location.href = "/";
            fetch("/api/v1/updateServer", {
                method: 'POST', // 將請求方法改為POST
                headers: {
                    'Content-Type': 'application/json', // 指定請求頭為JSON格式
                    // 在這裡可以添加其他請求頭信息
                },
                // 如果需要發送數據，可以在這裡添加請求體
                // body: JSON.stringify({ key: 'value' })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        // 將錯誤消息輸出到 outputResult 段落元素
                        document.getElementById("outputResult").textContent = "出現錯誤：" + data.error;
                    } else {
                        // 將結果輸出到 outputResult 段落元素
                        document.getElementById("outputResult").textContent = JSON.stringify(data, null, 2);
                        location.reload();
                    }
                })
                .catch(error => {
                    // 將錯誤消息輸出到 outputResult 段落元素
                    document.getElementById("outputResult").textContent = "發生錯誤：" + error;
                });
        });



        document.getElementById("UpdateDocker").addEventListener("click", function () {
            // 發起POST請求以獲取內存信息
            alert("服務開始更新")
            fetch("/api/v1/updateContainer", {
                method: 'POST', // 將請求方法改為POST
                headers: {
                    'Content-Type': 'application/json', // 指定請求頭為JSON格式
                    // 在這裡可以添加其他請求頭信息
                },
                // 如果需要發送數據，可以在這裡添加請求體
                // body: JSON.stringify({ key: 'value' })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert("解析錯誤")
                    } else {
                        alert(data.message)
                    }
                })
                .catch(error => {
                    alert("異常")
                });
        });




        function fetchAndDisplayContainers() {
            fetch("api/v1/serverlist")
                .then(response => response.json())
                .then(data => displayContainers(data))
                .catch(error => {
                    console.error("Error fetching data:", error);
                });
        }

        // 顯示服務數據
        function displayContainers(containers) {
            const containerDataBody = document.getElementById('containerDataBody');
            containerDataBody.innerHTML = '';

            if (containers.length === 0) {
                containerDataBody.innerHTML = '<tr><td colspan="5">No containers found.</td></tr>';
            } else {
                // 对数据进行排序
                containers.sort((a, b) => a.HOST.localeCompare(b.HOST));

                // 渲染排序后的数据
                containers.forEach(container => {
                    containerDataBody.innerHTML += `
                <tr>
                    <td>${container.HOST}</td>
                    <td>${container.IMAGE}</td>
                    <td>${container.NAMES}</td>
                    <td>${container.CREATED}</td>
                    <td class="${container.STATUS.includes('UP') ? 'active' : 'inactive'}">${container.STATUS}</td>
                </tr>
            `;
                });
            }

            // 恢复过滤状态
            filterContainers();
        }

        // 初次加载数据
        fetchAndDisplayContainers();

        // 每15秒自动更新一次数据
        setInterval(fetchAndDisplayContainers, 5000);

        // 添加过滤功能
        function filterContainers() {
            const hostFilter = document.getElementById('hostFilter');
            const nameFilter = document.getElementById('nameFilter');

            const hostFilterValue = hostFilter.value.toLowerCase();
            const nameFilterValue = nameFilter.value.toLowerCase();

            const rows = document.querySelectorAll('#containerDataBody tr');

            rows.forEach(row => {
                const hostCell = row.querySelector('td:nth-child(1)');
                const nameCell = row.querySelector('td:nth-child(2)');

                const hostText = hostCell.textContent.toLowerCase();
                const nameText = nameCell.textContent.toLowerCase();

                const hostMatch = hostText.includes(hostFilterValue) || hostFilterValue === '';
                const nameMatch = nameText.includes(nameFilterValue) || nameFilterValue === '';

                if (hostMatch && nameMatch) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });

            // 保存过滤状态到本地存储
            localStorage.setItem('hostFilter', hostFilterValue);
            localStorage.setItem('nameFilter', nameFilterValue);
        }

        // 恢复过滤状态
        const storedHostFilter = localStorage.getItem('hostFilter');
        if (storedHostFilter) {
            document.getElementById('hostFilter').value = storedHostFilter;
        }

        const storedNameFilter = localStorage.getItem('nameFilter');
        if (storedNameFilter) {
            document.getElementById('nameFilter').value = storedNameFilter;
        }
    </script>

</body>

</html>